@font-face {
    font-family: 'Poppins';
    src: url(/assets/Poppins/Poppins-Regular.ttf);
}

body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colored: #5231bc;
    --secondary-bg: #f0f1f6;
    --white-color: #ffffff;
    --black-color: #000;
    --red-color: red;
    --green-color: green;
    --colored-ext: #492ba7;
    --font-type: 'Poppins';
}

.charts {
    margin: 0 auto;
    width: 90%;
}

.charts h1 {
    padding-top: 20px;
    font-size: 1.5em;
}

.chartbox {
    margin-top: 20px;
    width: 100%;
    height: 80vh;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.chartbox .col {
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.chartbox .extralarge {
    width: 100%;
    height: 50vh;
    display: flex;
    gap: 25px;
    flex-direction: row;
}

.chartbox .col .box {
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: row;
}
.chartbox .extralarge .box-xlarge {
height: 100%;
width: 66%;
background-color: var(--white-color);
}
.chartbox .extralarge .box-large {
  height: 100%;
  width: 32%;
  background-color: var(--white-color);  
}