@font-face {
    font-family: 'Poppins';
    src: url(/assets/Poppins/Poppins-Regular.ttf);
}

body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --colored: #5231bc;
    --secondary-bg: #f0f1f6;
    --white-color: #ffffff;
    --black-color: #000;
    --red-color: red;
    --green-color: green;
    --colored-ext: #492ba7;
    --font-type: 'Poppins';
}

.charts {
    margin: 0 auto;
    width: 90%;
    overflow-y: scroll;
}

.main h1 {
    padding: 10px 0 0 4vw;
    font-size: 1.5em;
}

.chartbox {
    margin-top: 20px;
    width: 100%;
    height: 80vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.chartbox .col {
    width: 100%;
    height: 18vh;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    gap: 10px;
}

.chartbox .extralarge {
    width: 100%;
    height: 50vh;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    flex-direction: row;
}

.chartbox .col .box {
    width: 50%;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.chartbox .col .bx {
    border-left: 8px solid var(--colored);

}

.col .box .icons {
    padding: 5px;
    font-size: 2rem;
    border-radius: 5px;
    background-color: var(--secondary-bg);
    color: var(--colored);
}

.col .box .txt span {
    font-size: 1rem;
}

.chartbox .extralarge .box-xlarge {
    height: 38vh;
    width: 69.5%;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-large::-webkit-scrollbar {
    width: 5px;
    height: 1;
}

.box-large::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #492ba7;

}

.chartbox .extralarge .box-large {
    height: 38vh;
    width: 34%;
    background-color: var(--white-color);
    overflow-y: scroll;
}

.box-large h3 {
    padding: 10px;
}

.box-large .campaign-request {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--secondary-bg);
    margin-top: 10px;
    padding: 20px;
}

.box-large .campaign-request img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.campaign-request .approve-box {
    margin-left: 15px;
}

.campaign-request .approve-box p {
    line-height: 1;
    font-size: .9rem;
    padding: 0 0 10px 0;
}

.campaign-request .approve-box button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-right: 10px;
}

