/* MEDIA QUERY FOR SEARCHBAR  */

@media screen and (max-width: 1013px) {
   .searchbar {
    gap: 10em;
    padding: 40px;
}
   .searchbar .search {
    width: 40%;
   }
}
@media screen and (max-width: 871px) {
    .searchbar {
     gap: 20em;
     justify-content: center;
     padding: 40px;
    }
    .searchbar .search {
        width: 40%;
       }
    }
    @media screen and (max-width: 770px) {
        .searchbar {
            gap: 20em;
            justify-content: center;
            padding: 40px;
           }  
    }
 @media screen and (max-width: 623px) {
    .searchbar {
     gap: 10em;
     justify-content: center;
     padding: 40px;
    }
    .searchbar .search {
        width: 100%;
       }
 }
 @media screen and (max-width: 510px) {
    .searchbar .search {
        display: none;
    }
    .searchbar {
        justify-content: flex-end;
        padding: 40px;


    }
 }

 /* MEDIA QUERY FOR CHART SECTION */
 @media screen and (max-width: 940px) {
   .chartbox .col {
    flex-wrap: wrap;
   }
   .chartbox .col-2{
    margin: 6vw 0 63vw 0;
   }

   .chartbox .extralarge {
    flex-wrap:wrap ;
    margin-top: 72vw;
   } 
   .chartbox .col .box {
    width: 100%;
    gap: 50px;
   }
   .chartbox .col .box-4 {
    margin-top: 60vw;
   }
   .chartbox .extralarge .box-xlarge {
    width: 100%;
    height: 30vh;
   }
   .chartbox .extralarge .box-large {
    width: 100%;
    height: 20vh;
    margin-top: 8vw;

   }
 }


 /* MEDIA QUERY FOR SIDEBAR */
 @media screen and (max-width: 850px) {
    .sidebar {
        display: none;
    }
    .menu {
        display: block;
    }
    .sidebar .logo span {
        font-size: 1.3rem;
    }
    .sidebar .links li .sidebarlink {
        font-size: 1rem;
    }
    .sidebar .links li .sidebarlink .userdrop {
        display: none;
    }
   .sidebar .profile .profile-description span {
    font-size: 1rem;
   }
 }