@font-face {
    font-family: 'Poppins';
    src: url(/assets/Poppins/Poppins-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex; flex-direction: row; background-color: aqua;
    padding: 0; margin: 0; box-sizing: border-box; position: relative;
}

:root {
    --colored: #5231bc;
    --secondary-bg: #f0f1f6;
    --white-color: #ffffff;
    --black-color: #000;
    --red-color: red;
    --green-color: green;
    --colored-ext: #492ba7;
    --font-type: 'Poppins';
}

/* SIDEBAR CONTAINER */
.sidebar {
    width: 20%;
    height: 100vh;
    background-color: var(--colored);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: width 0.5s ease-in-out;
}

/* PROFILE STYLING */
.sidebar .logo {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.sidebar .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    object-fit: cover;
    object-position: center;
}

.sidebar .logo span {
    color: var(--white-color);
    font-size: 1.5em;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

/* PROFILE STYLING */
.sidebar .profile {
    background-color: var(--colored-ext);
    width: 100%;
    height: 10vh;
    margin-bottom: 3em;
    color: var(--white-color);
    display: flex;
    gap: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar .profile .profile-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 0;
}

.sidebar .profile img {
    width: 50px;
    height: 50px;
    margin: 0 5px 0 0px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.sidebar .profile .profile-description span,
i {
    line-height: 0;
    text-align: left;
    padding-top: 4px;
    font-size: 1.1em;
}

.sidebar .profile .profile-description i {
    padding-left: 10px;
    font-size: 1rem;
}

.sidebar .profile .profile-description p {
    padding: 0;
    line-height: 2;
    font-size: .8rem;
    text-align: left;
}
.menu {
    list-style: none;
    color: var(--colored);
    z-index: 1200;
    position: fixed;
    top: 3.5em;
    right: 0em;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.7s;
    transform: rotate(90deg);
    display: none;
}
.active {
    transform: rotate(-90deg);
}
.sidebar .links li {
    display: flex;
    align-items: center;
    list-style: none;
    transition: all 1s;
}

.sidebar .links li:hover {
    background-color: var(--colored-ext);
    border-left: 8px solid #1a0366;
}
.sidebar .links li, .sidebar .links li a {
    transition: all 0.3s;
  }

.sidebar .links li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.1rem;
    padding: 1em;
    transition: all 1s;
}
.sidebar .links li a:hover {
transform: translateX(4px);
}
.sidebar .links li a i {
    padding: 0 10px 0 0;
    font-size: 1rem;
}

.sidebar .links li .campdrop {
    padding-left: 3em;
    font-size: 1.2em;
}

.sidebar .links li .userdrop {
    padding-left: 5.6em;
    font-size: 1.3em;
}